<div id="AcercaDe">
    <div class="container">
      <h1>Acerca de</h1><br>
  
      <img id="myImage" class="rounded-circle dib1" src="{{persona.img}}" alt="Foto6">
  
      <p class="parrafo">
        Mi nombre es {{persona.nombre}} {{persona.apellido}} y estoy iniciandome en el mundo de la Programación, para ser una programadora web Full Stack
        Jr.
        Me apasiona el mundo de la programación y mi objetivo es llegar a conseguir un empleo de esto que me encanta
        tanto! Abajo más acerca de mis experiencias y aptitudes
      </p>
  
  
    </div>
  </div>
  <br><br><br>
