<div id="Educación">
    <div class="container">
      <h1>Educación</h1><br><br>
      <div class="contenedor">
        <div class="tarjeta">
          <figure>
            <img src="../../assets/Imagenes/unrc.png" alt="UNRC" width="100px" height="100px">
          </figure>
          <div class="contenido">
            <h3>U.N.R.C.</h3>
            <p> Profesorado de Historia y Tecnicatura en Lenguas en Universidad Nacional de Río Cuarto. Iniciado en
              2018. No completado.</p>
            <a href="https://www.unrc.edu.ar" target="_blank">Página de la U.N.R.C.</a>
          </div>
        </div>
  
        <div class="tarjeta">
          <figure>
            <img src="../../assets/Imagenes/ioapap.jfif" alt="IOAPAP" width="100px" height="100px">
          </figure>
          <div class="contenido">
            <h3>Escuela secundaria IOAPAP</h3>
            <p> Secundario realizado en el Instituto Orientado y Agrotécnico Pablo A. Pizzurno. Título: Bachiller
              Orientado en Economía y Administración de Empresas. Finalizado en 2016</p>
            <a href="https://www.facebook.com/ioapapizzurno/" target=" _blank" >Página de I.O.A.P.A.P. </a>
          </div>
        </div>
  
        <div class="tarjeta">
          <figure>
            <img src="../../assets/Imagenes/codoacodo.jfif" alt="Codo a Codo" width="100px" height="100px">
          </figure>
          <div class="contenido">
            <h3>Curso Codo a Codo</h3>
            <p> Cursando actualmente el Curso Orientado a Python en Codo a Codo.</p>
            <a href="https://www.buenosaires.gob.ar/educacion/codo-codo" target="_blank">Página Codo a Codo</a>
          </div>
        </div>
  
        <div class="tarjeta">
          <figure>
            <img src="../../assets/Imagenes/argprog.png" alt="Argentina Programa" width="100px" height="100px">
          </figure>
          <div class="contenido">
            <h3>Curso Argentina Programa</h3>
            <p> Cursando actualmente el curso de Argentina Programa</p>
            <a href="argentinaprograma.inti.gob.ar" target="_blank">Página de Argentina Programa</a>
          </div>
        </div><br><br>
      </div>
    </div>
  </div>
