<header>

    <div class="container">
      <div class="row">
        <div class="col-sm-6" align="left">
          <img src="../../assets/Imagenes/argprog.png" alt="Argentina Programa">
  
        </div>
  
  
        <div class="col-sm-6">
          <ul class="social-header" align="right">
            <a href= "#"class="btn btn-info">Login</a>
  
            <br><br>
            <li class="list-inline-item">
              <a href="https://twitter.com/lucilaalochis3" target="_blank"></a><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <a href="https://www.facebook.com/lu.alochis" target="_blank"></a><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                  <a href="https://www.instagram.com/lucita.alochis/" target="_blank"></a><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
  
                    <a href="https://github.com/LuciFAl99" target="_blank"> </a><span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                      
                   
                    
            </li>
          </ul>
  
        </div>
      </div>
    </div>
    <div class="menu-bar text-xs-right">
      <nav class="container" role="menu">
        <ul>
          <li class="list-inline-item">
            <a href="#AcercaDe">Acerca de</a>
          </li>
          <li class="list-inline-item">
            <a href="#Experiencia">Experiencia</a>
          </li>
          <li class="list-inline-item">
            <a href="#Educación">Educación</a>
          </li>
          <li class="list-inline-item">
            <a href="#Proyectos">Proyectos</a>
          </li>
          <li class="list-inline-item">
            <a href="#Habilidades">Habilidades</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
