<div id="Experiencia">
    <div class="container">
  
      <h1>Experiencia</h1><br><br>
      <div class="contenedor">
        <div class="tarjeta">
          <figure>
            <img src="../../assets/Imagenes/bagues.png" alt="Bagués" width="100px" height="100px">
          </figure>
          <div class="contenido">
            <h3>Bagués</h3>
            <p>Coordinadora de equipo de ventas de más de treinta personas en Bagués. Inicio: 2019. Fin: 2022</p>
            <a href="https://www.bagues.net" target="_blank">Página de Bagués</a>
          </div>
        </div>
  
        <div class="tarjeta">
          <figure>
            <img src="../../assets/Imagenes/imagen7.jfif" alt="Atención al Público" width="100px" height="100px">
          </figure>
          <div class="contenido">
            <h3>Atención al público</h3>
            <p> Atención al Público en comercios.</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <br><br><br><br>
