<div class="container mt-3">
    <h1>Iniciar Sesión</h1>
    
  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <div class="mb-3 mt-3">
      <input type="text" class="form-control" id="nombreUsuario" placeholder="Ingrese nombre de usuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required>
      <label for="nombreUsuario" class="form-label">Usuario:</label>
      <div class="valid-feedback">Correcto.</div>
      <div class="invalid-feedback">Por favor complete este campo.</div>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" name="password" [(ngModel)]="password">
      <label for="password" class="form-label">Contraseña:</label>
      <div class="valid-feedback">Correcto.</div>
      <div class="invalid-feedback">Por favor complete este campo.</div>
    </div>
    
  <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>