<div class="container mt-3">
    <h1>Iniciar Sesión</h1>
    
  <form action="#" class="was-validated">
    <div class="mb-3 mt-3">
      <label for="uname" class="form-label">Usuario:</label>
      <input type="text" class="form-control" id="uname" placeholder="Ingrese nombre de usuario" name="uname" required>
      <div class="valid-feedback">Correcto.</div>
      <div class="invalid-feedback">Por favor complete este campo.</div>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Ingrese su contraseña" name="pswd" required>
      <div class="valid-feedback">Correcto.</div>
      <div class="invalid-feedback">Por favor complete este campo.</div>
    </div>
    
  <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>